<%- include('partials/header'); %> <%- include('partials/navbar'); %> <%-
include('partials/compose-button') %>
<div class="container mt-4">
	<h1>Home</h1>
	<p><%= homecontent %></p>
</div>
 <%- include('partials/footer'); %>
</post.length;i++)>
