<%- include('partials/header'); %> <%- include('partials/navbar'); %> <%-
include('partials/compose-button') %>
<div class="container mt-4">
	<h1>Home</h1>
	<p><%= homecontent %></p>
</div>

<div class="container">
    <%  Array.from(posts.post_array).forEach(function(post_array){ %>
    <h4><%=post_array.title%></h4>
    <p><%=post_array.article%></p>
    <% }) %>
</div>

 <%- include('partials/footer'); %>
</post.length;i++)>
