<%- include('partials/header'); %> <%- include('partials/navbar'); %>

<div class="container mt-5">
	<h4><%=title%></h4>
	<p><strong>Description:</strong> <%=description%></p>
	<p><%=content%></p>
	<br>
	<p>Author: <%=author%></p>
</div>

<%- include('partials/footer'); %>
